html{
    scroll-behavior: smooth;
}
#Map{
    text-align: center;
}
#Map ul li{
    list-style: none;
}
#Map h1{
    font-size: 3.5rem;
    color: white;
}
#Map::before{
    content: "";
    background: url('./m.jpg')no-repeat center center/cover;
    position: absolute;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 1.0;
    top: 0px;
    left: 0px;
}